html {
	height: 100%;
}

body {
	height: 100%;
}

.page-header {
	background: #333;
	border: 0;
	color: #fff;
	font-size: 32px;
	font-family: @monoFontFamily;
	line-height: 38px;
	margin: 0;
	padding: 0;
}

.stacked-container {
	padding: 40px 20px;
	max-width: 940px;
	width: auto;
}

#container {
	height: 100%;
	overflow: hidden;

	&.intro {
		margin: 0 auto;
		max-width: 940px;
		padding: 20px;
	}
}

.refresher-wrapper {
	height: 100%;
	position: relative;
	width: 100%;

	form {
		margin: 0;
	}

	&.active {
		padding: 40px 0 0;

		form {
			height: 40px;
			left: 0;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 100%;

			.form-inner {
				padding: 5px 10px 0;
			}

			.row-fluid,
			input,
			label {
				display: inline-block;
				margin: 0 5px 0 0;
				vertical-align: middle;
				width: auto;

			}

			.row-fluid {
				&::before,
				&::after {
					display: none;
				}
			}
			.add-btn {
				display: inline;
				float: right;
			}
		}


	}
}

.refresher-iframe {
	height: 100%;
	width: 100%;
}